<div class="form-group">
    <%= form_for [@user, Item.new] do |t| %>
        <%= t.text_field :name, placeholder: "Add new item" %>
        <%= t.submit "Add", class: "btn btn-success" %>
    <% end %>
</div>
