<div class="form-group" style="padding:10px">
  <ul>
    <% @user.items.each do |item| %>
      <li id="item_<%= item.id %>">
        <%= item.name %>
        <%= link_to "", [@user, item], method: :delete, remote: true, class: 'glyphicon glyphicon-ok' %>
      </li>
    <% end %>
  </ul>
</div>
